header
  .navigation-components
    a.navigation(href='')
      i.fa.fa-bars(aria-hidden="true")
    img.logo(src='/files/images/logo_bizkonect.png')
  .navigation-components.right
    div.auth-buttons.inlineBlock
      span(
        ng-if="vm.isAuthenticated"
        ng-click="vm.invalidateSession()")
        | Logout
      //- TODO: is it needed
      a(
        ng-if="!vm.isAuthenticated"
        href="/auth")
        | Login
    .photo